.parent{
    display: flex;
    
}

.cobStage{
    border: 0.12rem solid blueviolet;
    border-radius: 1rem;
    width: 50%;
    height: 50%;

}

.runningBatch{
    margin-top: 3rem;
    margin-left: 1rem;
    border: 0.12rem solid blueviolet;
    border-radius: 1rem;
    width: 55%;

}

.header {
    font-weight: bold;
  }
  
  .cell {
    flex: 1;
    padding:0.5rem;
    /* border-right: 1px solid #ddd; */
    padding-left: 1rem;
    height: 2rem;
  }
  
  .cell:last-child {
    border-right: none;
  }
  


  .table-container{
    width:65%;
    margin-left: 2rem;
    padding-left: 1rem;
    border: 0.12rem solid blueviolet;
    border-radius: 1rem;
    width: 60%;
  }


  .hrt{
    margin-top: -100px;
    margin: 50px;
  }


  hr {
    width:45%;
    margin:0 auto;
  }

    

    .processed{
      flex: 1;
    padding:0.5rem;
    /* border-right: 1px solid #ddd; */
    padding-left: -3rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 14rem;
    }



    .progressBar{
      flex: 1;
      padding:0.5rem;
      /* border-right: 1px solid #ddd; */
      padding-left: 3rem;
      /* height: 2rem; */
    margin-left: 1rem;
    }


    .row{
      width: 95%;
    }


    .completionTime{
      display: block;
      margin-top: 3rem;
      width: 30%;
      margin-left: 0.7rem;
      
    }

    .first{
      border: 0.15rem solid blueviolet;
      height: 43%;
      border-radius: 0.7rem;
      
    }

    .second{
      margin-top: 0.25rem;
      border: 0.15rem solid blueviolet;
      height: 43%;
      border-radius: 1rem;


    }














